extends homeLayout 
block homeMain 
    if course.option == "create"
        h1 This name choosen for this course creation already existed in the database
    else
         h1 This name choosen for this course update already existed in the database
    
    form(method= "post",hidden, id ="form" ,action='/course/'+ course.option + '_edit')
        .nameBlock  
                
            label(for="courseName") course name: 
            input(type="text", name="name",
                value= course && course.name,id="courseName")  

        .titleBlock  
                
            label(for="courseTitle") course title: 
            input(type="text", name="title",
                value= course && course.title,id= "courseTitle")
    
        .levelBlock  
                
            label(for="courseLevel") course level: 
            input(type="text", name="level",
                value= course && course.level, id="courseLevel")

        .creditUnitBlock  
                
            label(for="creditUnit") course creditUnit: 
            input(type="text", name="creditUnit",
                value= course && course.creditUnit,id="creditUnit")

        .lecturerIdBlock  
            label(for="course_lecturerId") Selected lecturer
            input(type="text", hidden, name="lecturerId",
                required,id="course_lecturerId",value= lecturer.id,) 
            span.selected  : #{lecturer.fullName}
            
    button(type="submit",form = "form") Continue with course #{course.option == "create" ? "creation" : "update"} 
    button(type="submit") 
            a(href= '/course')  Cancel course #{course.option == "create" ? "creation" : "update"}