extends homeLayout 
block homeMain 
    if (course)
        .coursePage 
            .mainblock
                h2.header Header
                .profilePicture
                    img(src="", alt="Profile picture", sizes="200px")  
                .card 
                    ul
                        each  value, name in course 
                            li 
                                .infoUnit
                                    p
                                        strong.name  #{`${name}:  `}
                                        span.value  #{value}

            .sideblock
                .infoUnit
                    p
                        strong.name  faculty:  
                        span.value  
                            a(href= `${faculty.url}/display`) #{faculty.name} 

                .infoUnit
                    p
                        strong.name  Department:  
                        span.value  
                            a(href= `${department.url}/display`) #{department.name}
                .infoUnit
                    p
                        strong.name  Course lecturer:  
                        span.value  
                            a(href= `${lecturer.url}/display`) #{lecturer.fullName }
                
                .contactInfoblock
                    .dropdown
                        a(href="#")  Students offering this Course :
                        ul.dropdown_menu 
                            each student in studentList 
                                li
                                    a(href=`${student.url}/display`) #{ student.name}
  
                .editblock 
                    .deleteblock 
                        button.delete_btn
                            a(href= `${url}/delete`) Delete course                    

                    .updateblock
                        button.update_btn
                            a(href= `${url}/update`) Update course 