extends homeLayout 
block homeMain 
    if (faculty)
        .facultyPage 
            .mainblock
                h2.header Header
                .profilePicture
                    img(src="", alt="Profile picture", sizes="200px")  
                .card 
                    ul
                        each  value, name in faculty 
                            li 
                                .infoUnit
                                    p
                                        strong.name  #{`${name}:  `}
                                        span.value  #{value}

            .sideblock
                .facultyDepartmentsblock
                    .dropdown
                        a(href="#")  
                            strong Department under this faculty :
                        ul.dropdown_menu 
                            each department in departmentList 
                                li
                                    a(href=`${department.url}/display`) 
                                        strong #{ department.name}
                .editblock 
                    .deleteblock 
                        button.delete_btn
                            a(href= `${url}/delete`) Delete faculty                    

                    .updateblock
                        button.update_btn
                            a(href= `${url}/update`) Update faculty 