extends homeLayout 
block homeMain 
    if (lecturer)
        section.personalInformation
            .profilePicture
                img(src="", alt="Lecturer Photo", sizes="200px")  
            
            h3 Personal information
            
            ul
                each  value, name in lecturer 
                    li 
                        .infoUnit                              
                            strong.name  #{`${name}:  `}
                            span.value  #{value}

        section.employmentInformation
            h3 Employment information
            .infoUnit
                strong.name  faculty:  
                span.value  
                    a(href= `${faculty.url}/display`) #{faculty.name} 
            .infoUnit
                strong.name  Department:  
                span.value  
                    a(href= `${department.url}/display`) #{department.name}
                
            details 
                summary Courses under this lecturer
                ul.dropdown_menuh 
                    each course in courseList 
                        li
                            a(href=`${course.url}/display`) 
                                strong #{ course.name}
                    else 
                        li No course under this lecturer currently

            details 
                summary Students under this lecturer
                ul.dropdown_menuh 
                    each student in studentList 
                        li
                            a(href=`${student.url}/display`) 
                                strong #{ student.fullName}
                    else 
                        li No student under this lecturer currently
                
        section.editblock  
            button.delete_btn
                a(href= `${url}/delete`) Delete lecturer                    

            button.update_btn
                a(href= `${url}/update`) Update lecturer 