extends homeLayout 
block homeMain 
    if (lecturer)
        .lecturerPage 
            .mainblock
                h2.header Header
                .profilePicture
                    img(src="", alt="Profile picture", sizes="200px")  
                .card 
                    ul
                        each  value, name in lecturer 
                            li 
                                .infoUnit
                                    p
                                        strong.name  #{`${name}:  `}
                                        span.value  #{value}

            .sideblock
                .infoUnit
                    p
                        strong.name  faculty:  
                        span.value  
                            a(href= `${faculty.url}/display`) #{faculty.name} 

                .infoUnit
                    p
                        strong.name  Department:  
                        span.value  
                            a(href= `${department.url}/display`) #{department.name}
                
                .lecturerCoursesblock
                    .dropdown
                        a(href="#")  
                            strong Courses  under this lecturer
                            span &#8650
                            span.downArrow 
                        ul.dropdown_menu 
                            each course in courseList 
                                li
                                    a(href=`${course.url}/display`) 
                                        strong #{ course.name}
                            else 
                                li No student under this lecturer currently
                
                .lecturerStudentsblock
                    .dropdown
                        a(href="#")  
                            strong   Students under this lecturer
                            span &#8650
                            span.downArrow 
                        ul.dropdown_menu 
                            each student in studentList  
                                li
                                    a(href=`${student.url}/display`) 
                                        strong #{ student.fullName}
                            else 
                                li No student under this lecturer currently
                
                .contactInfoblock 
                    h3  Lecturer contact info drop down
                .editblock 
                    .deleteblock 
                        button.delete_btn
                            a(href= `${url}/delete`) Delete lecturer                    

                    .updateblock
                        button.update_btn
                            a(href= `${url}/update`) Update lecturer 