extends homeLayout 
block homeMain 
    if (lecturer)
        section.personalInformation
            .profilePicture
                img(src="", alt="Lecturer Photo", sizes="200px")  
            
            h3 Personal information
            
            ul
                each  value, name in lecturer 
                    li 
                        .infoUnit                              
                            strong.name  #{`${name}:  `}
                            span.value  #{value}

        section.employmentInformation
            h3 Employment information
            .infoUnit
                strong.name  faculty:   
                a(href= `${faculty.url}/display`) 
                    span.value #{faculty.name} 
            .infoUnit
                strong.name  Department:    
                a(href= `${department.url}/display`) 
                    span.value #{department.name}
                
            details(name='detail') 
                summary Courses under this lecturer
                ul 
                    each course in courseList 
                        li
                            a(href=`${course.url}/display`) 
                                strong #{ course.name}
                    else 
                        li No course under this lecturer currently

            details(name='detail') 
                summary Students under this lecturer
                ul
                    each student in studentList 
                        li
                            a(href=`${student.url}/display`) 
                                strong #{ student.fullName}
                    else 
                        li No student under this lecturer currently
                
        section.editblock  
            a.a-btn(href= `${url}/delete`) 
                button.delete_btn Delete lecturer
                                    
            a.a-btn(href= `${url}/update`)
                button.update_btn Update lecturer 