extends homeLayout 
block homeMain 

    form(method ="post",id='form',action = `/lecturer/${lecturer.id}/update`)
    
        .firstNameBlock  
                
            label(for="lecturer_firstName") firstName: 
            input(type="text", name="firstName",placeholder="firstName",id="lecturer_firstName",
                value= lecturer && lecturer.firstName)

        .lastNameBlock  
                
            label(for="lecturer_lastName") lastName: 
            input(type="text", name="lastName",placeholder="lastName",id='lecturer_lastName',
                value= lecturer && lecturer.lastName)

        .genderBlock  
                
            label(for="lecturer_gender")  gender: 
            input(type="text", name="gender",placeholder=" gender",id="lecturer_gender",
                value= lecturer && lecturer.gender)

        .nameBlock  
                
            label(for="lecturer_dateOfBirth")  dateOfBirth: 
            input(type="text", name="dateOfBirth",placeholder="dateOfBirth",id="lecturer_dateOfBirth",
                value= lecturer && lecturer.dateOfBirth)

        .dateOfEnmploymentBlock  
                
            label(for="lecturer_dateOfEmployment") dateOfEmployment: 
            input(type="text", name="dateOfEmployment",placeholder="dateOfEmployment",
            id="lecturer_dateOfEmployment",value= lecturer && lecturer.dateOfEmployment)

        .departmentIdBlock  
            label(for="lecturer_departmentId") Selected department
            input(type="text", hidden, name="departmentId",
                required,id="lecturer_departmentId",value= department.id,) 
            span.selected  : #{department.name}
    
    .add 
        a(href= lecturer.url + "/update_addCourse")  Add Course
   
    .add 
        a(href=lecturer.url + "/update_addStudent")  Assign student   

    .remove 
        a(href= lecturer.url + "/update_removeStudent")  Remove student         
        
    input(type="submit", value="update",form="form")
    button 
        a(href= '/lecturer')  Cancel update