extends homeLayout 
block homeMain
    if student.option == "create"
        h1 This name choosen for this student creation already existed in the database
    else
         h1 This name choosen for this student update already existed in the database
    
    form(method= "post",hidden, id ="form" ,action='/student/'+ student.option + '_edit')
        
        .firstNameBlock  
                
            label(for="firstName") firstName: 
            input(type="text", name="firstName",placeholder="firstName",
                    value= student && student.firstName, id = "firstName")

        .lastNameBlock  
                
            label(for="lastName") lastName: 
            input(type="text", name="lastName",placeholder="lastName",
                    value= student && student.lastName, id = 'lastName')

        .genderBlock  
                
            label(for="gender") gender: 
            input(type="text", name="gender",placeholder=" gender",
                    value= student && student.gender,id = 'gender')

        .nameBlock  
                
            label(for="dateOfBirth") dateOfBirth: 
            input(type="text", name="dateOfBirth",placeholder="dateOfBirth",
                    value= student && student.dateOfBirth,id = 'dateOfBirth')

        .admissionDateBlock  
                
            label(for="admissionDate") admissionDate: 
            input(type="text", name="admissionDate",placeholder="admissionDate",
                    value= student && student.admissionDate, id='admissionDate')

        .CGPBlock  
                
            label(for="CGP") CGP: 
            input(type="text", name="CGP",placeholder=" CGP",
                    value= student && student.CGP,id= 'CGP')

        .financialStatusBlock  
                
            label(for="financialStatus") financialStatus: 
            input(type="text", name="financialStatus",placeholder="financialStatus",
                    value= student && student.financialStatus,id="financialStatus")

        .levelBlock  
                
            label(for="level") level: 
            input(type="text", name="level",placeholder="level",
                    value= student && student.level,id='level')

        .departmentIdBlock  
            label(for="lecturer_departmentId") Selected department
            input(type="text", hidden, name="departmentId",
                required,id="lecturer_departmentId",value= department.id,) 
            span.selected  : #{department.name}
                                                                           
    button(form='form')  continue with student creation
    button
        a(href= '/student')  Cancel deparment #{student.option == 'create'? "creation": "update"}

