extends homeLayout 
block homeMain 
    - const name =  nameType || "name"
    form( method="post")
        fieldset.temporal
            if modelList.length < 1
                legend No available #{associateModel} to be #{actionType =="add" ? "added to": "remove from"} this #{parentModel.name}  
                a(href= parentModel.url + "/update") Ok
            else
                legend Choose #{associateModel}(s) to be #{actionType =="add" ? "added to this "+ parentModel.name + " (maximum of " + maximumCount + ") ": "remove from this " + parentModel.name}  
                each model in modelList 
                    .infoUnit
                        label(for=model.title) 
                            input(type="checkbox", name="modelIds", 
                                id=model.title,value=model.id)
                            strong #{model[name]} 

                input(type="hidden", name="maximumCount",value = maximumCount)
                button(type="submit") Submit