extends layout 

block content 
    h1 Title: #{book.title}

    p #[strong Author: ]
        a(href= book.author.url) #{book.author.fullName}
    p #[strong Summary: ] #{book.summary}
    p #[strong Genre:  ] 
        a(href= book.genre.url) #{book.genre.name }
    
    div(style= 'margin-left: 20px, margin-top:20px')
        h2(style='font-size:1.5rem;' ) Copies 

        each val in bookinstances
            hr
            if val.status =='Available'
                p.text-success #{val.status}

            else if val.status =='Maintenance'
                p.text-denger #{val.status} 

            else 
                p.text-warning #{val.status}

            p #[strong Imprint: ] #{val.imprint}

            if val.status != 'Available'
                p #[strong Due back] #{val.due_back}

            p [strong Id: ] 
                a(href= val.url) #{val.id}

        