extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  p  bookCount is #{bookCount} 
  p authorCount is #{authorCount}
  p genreCount is #{genreCount}
  p bookInstanceCount is #{bookInstanceCount}

